<div class="container-flex">
  <div class="horizontal-bloque">
    <!--cards notificaciones-->
    <mat-card class="links">
      <mat-card-header>
        <img mat-card-avatar [src]="'/static/assets/iconos/megafono.svg'">
        <mat-card-title>Notificaciones</mat-card-title>
      </mat-card-header>  
      <mat-card-actions class="botones">
        <a mat-mini-fab color="warn" matBadge="{{alerta}}" routerLink="/dashboard/proceso/listar-notificaciones/{{proceso.id}}" matBadgeColor="warn">📢❗</a>
        <button mat-mini-fab matBadge="{{notificaciones}}" routerLink="/dashboard/proceso/listar-notificaciones/{{proceso.id}}">🔔</button>
      </mat-card-actions>
    </mat-card>
    <!--cards notificaciones-->
    <!--cards actuaciones-->
    <mat-card class="links">
      <mat-card-header>
        <img mat-card-avatar [src]="'/static/assets/iconos/discussion.svg'">
        <mat-card-title>Actuaciones</mat-card-title>
      </mat-card-header>  
      <mat-card-actions class="botones">
        <button mat-mini-fab matBadge="{{actuaciones}}" routerLink="/dashboard/proceso/listar-actuaciones/{{proceso.id}}">📂</button>
      </mat-card-actions>
    </mat-card>
    <!--cards actuaciones-->
    <!--archivos-->
    <mat-card class="links">
      <mat-card-header>
        <img mat-card-avatar [src]="'/static/assets/iconos/search.svg'">
        <mat-card-title>Archivos</mat-card-title>
      </mat-card-header>  
      <mat-card-actions class="botones">
        <button mat-mini-fab matBadge="{{archivos}}"  routerLink="/dashboard/proceso/listar-archivos/{{proceso.id}}">💾</button>
      </mat-card-actions>
    </mat-card>
    <!--archivos-->
    <!--cautelares-->
    <mat-card class="links">
      <mat-card-header>
        <img mat-card-avatar [src]="'/static/assets/iconos/ban.svg'">
        <mat-card-title>Cautelares</mat-card-title>
      </mat-card-header>  
      <mat-card-actions class="botones">
        <button mat-mini-fab color="warn" matBadge="{{cautelares}}"  matBadgeColor="warn" routerLink="/dashboard/proceso/listar-cautelares/{{proceso.id}}">🚧</button>
      </mat-card-actions>
    </mat-card>
    <!--cautelares-->
  </div>
  
  <!--cardsssssss-->
  <div class="horizontal-bloque">
    <div class="cards">
      <mat-toolbar >
        <span>{{ proceso.numero_proceso }}</span>
        <span class="example-spacer"></span>
        <mat-card-subtitle><button color="primary"  routerLink="/dashboard/proceso/actualizar-proceso/actualizar/{{proceso.id}}" mat-button><mat-icon hr>create</mat-icon>Actualizar</button></mat-card-subtitle>
      </mat-toolbar>
      <table mat-table [dataSource]="tablaProceso" >     
      
        <ng-container matColumnDef="campo">
          <th mat-header-cell *matHeaderCellDef>   </th>
          <td mat-cell *matCellDef="let elemento">{{elemento.campo}} : </td>
        </ng-container>
  
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let elemento">  {{elemento.valor}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
     <!--cardsssssss-->
     <div class="cards">
      <mat-toolbar >
        <span>Juridico</span>
        <span class="example-spacer"></span>
        <mat-card-subtitle><button *ngIf="ejecutivo.clase!=null" color="primary"  routerLink="/dashboard/proceso/actualizar-ejecutivo/actualizar/{{proceso.id}}" mat-button><mat-icon hr>create</mat-icon>actualizar</button></mat-card-subtitle>
        <mat-card-subtitle><button *ngIf="ejecutivo.clase==null" color="primary"  routerLink="/dashboard/proceso/agregar-ejecutivo/agregar/{{proceso.id}}" mat-button><mat-icon hr>create</mat-icon>Agregar</button></mat-card-subtitle>
      </mat-toolbar>
      <table mat-table [dataSource]="tablaEjecutivo" >     
      
        <ng-container matColumnDef="campo">
          <th mat-header-cell *matHeaderCellDef>   </th>
          <td mat-cell *matCellDef="let elemento">{{elemento.campo}} : </td>
        </ng-container>
  
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let elemento">  {{elemento.valor}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <!--cardsssssss-->   
  <div class="horizontal-bloque">
    <!--partes naturales-->
    <div class="cards">  
      <app-partes  [partes]="proceso.partesNaturales" [proceso]="proceso.id" (recargar)="obtenerProceso()"></app-partes>
    </div>
    <!--partes juridicas-->
    <div class="cards">  
      <app-partes-juridicas  [partes]="proceso.partesJuridicas" [proceso]="proceso.id" (recargar)="obtenerProceso()"></app-partes-juridicas>
    </div>
   <!--despacho-->
  </div>
  <div class="despacho-bloque">
    <div class="cards">
      <app-despacho [id]='proceso.despacho'></app-despacho>
    </div>
  </div>
</div>