.container-flex{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap:wrap;
}

.mat-card-actions{
  text-align: center;
}
.mat-card-header{
  border-radius: 2px;
}
.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}


@media screen and (min-width: 800px) {
  .horizontal-bloque{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .despacho-bloque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  
   .cards{
     width: 40%;
     margin-top: 30px;
   }
   
  .links{
    height: 80px;
    width: 20%;
  
  }
  
  
}
@media screen and (max-width: 800px) {
  div{
    margin-top: 5%;
  }

}
