<mat-card>
  <form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
    <div>
      <span class="titulo">Datos personales</span>
    </div>
      <mat-form-field appearance="outline">
        <mat-label>Documento</mat-label>
        <input formControlName='documento' matInput>
        <mat-error *ngIf="form.get('documento').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('documento').hasError('pattern')">
          <strong>Solo numeros</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName='nombre' matInput>
          <mat-error *ngIf="form.get('nombre').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('nombre').hasError('pattern')">
            <strong>Solo letras</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input formControlName='apellido' matInput>
          <mat-error *ngIf="form.get('apellido').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('apellido').hasError('pattern')">
            <strong>Solo letras</strong>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <input matInput  formControlName='nacimiento' [matDatepicker]="myDatepicker">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          <mat-error *ngIf="form.get('nacimiento').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Ocupacion</mat-label>
          <input formControlName='ocupacion' matInput>
          <mat-error *ngIf="form.get('ocupacion').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('ocupacion').hasError('pattern')">
            <strong>Solo letras</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div>
          <span class="titulo">Datos de contacto</span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName='email' matInput>
          <mat-error *ngIf="form.get('email').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('pattern')">
            <strong>Eso no es un correo!</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input formControlName='celular' matInput>
          <mat-error *ngIf="form.get('celular').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('celular').hasError('pattern')">
            <strong>Solo letras</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Fijo</mat-label>
          <input formControlName='fijo' matInput>
          <mat-error *ngIf="form.get('fijo').hasError('pattern')">
            <strong>Solo numeros</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input formControlName='direccion' matInput>
          <mat-error *ngIf="form.get('direccion').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.get('direccion').hasError('pattern')">
            <strong>Nada de caracteres especiales</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <div>
        <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
          <mat-icon>send</mat-icon>enviar
        </button>
        <a color="warn" routerLink="/dashboard/abogado/listar-personas"  mat-raised-button>
          <mat-icon>cancelar</mat-icon>cancelar
        </a> 
      </div>
  </form>
</mat-card> 
