
@media screen and (min-width: 800px)  {
    .mat-card{
        width: 60vw;
        position: relative;
        left: 20vw;
    }
    table{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mat-card{
        width: 100vw;
    }
    table{
        width: 100%;
    }
}
