.titulo {
    flex: 1 1 auto;
    text-align: center;
  }
table{
    width: 100%;
}
@media screen and (min-width: 800px) {
    .mat-card{
        width: 40%;
        position: relative;
        left: 30%;
    }
 }

 @media screen and (min-width: 500px) and (max-width: 700px)  {
    .mat-card{
        width: 95%;
    }
 }