.mat-card{
    width: 40%;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
div {
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 550px) {
    .mat-card{
        width: 80%;
        left: 5%;
    }
}