<form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <select matNativeControl formControlName="titulo" required>
          <option value="VALOR">Valor</option>
          <option value="EJECUTIVO">Ejecutivo</option>
        </select>
        <mat-error *ngIf="form.get('titulo').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Obligacion</mat-label>
        <select matNativeControl formControlName="obligacion" required>
          <option value="DAR">Dar</option>
          <option value="HACER">Hacer</option>
          <option value="NO_HACER">No hacer</option>
        </select>
        <mat-error *ngIf="form.get('obligacion').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Clase</mat-label>
        <select matNativeControl formControlName="clase" required>
          <option value="SINGULAR">Singular</option>
          <option value="HIPOTECARIO">Hipotecario</option>
          <option value="MIXTO">Mixto</option>
        </select>
        <mat-error *ngIf="form.get('clase').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Pretension</mat-label>
        <input formControlName='pretension' matInput>
        <mat-error *ngIf="form.get('pretension').hasError('pattern')">
          <strong>Solo numeros</strong>
        </mat-error>
        <mat-error *ngIf="form.get('pretension').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Cunatia</mat-label>
        <select matNativeControl formControlName="cuantia" required>
          <option value="minima">minima</option>
          <option value="menor">menor</option>
          <option value="mayor">mayor</option>
        </select>
        <mat-error *ngIf="form.get('cuantia').hasError('required')">
            <strong>Este campo es obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <br>
      <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
        <mat-icon>send</mat-icon>enviar
      </button>
      <a color="warn" routerLink="/dashboard/proceso/listar-procesos"  mat-raised-button>
        <mat-icon>cancelar</mat-icon>cancelar
      </a>
</form>
