
<form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>Clase</mat-label>
      <select matNativeControl formControlName="clase" required>
        <option value="REALES">Reales</option>
        <option value="BANCARIAS">Bancarias</option>
        <option value="DINEARIAS">Dinearias</option>
        <option value="DOCUMENTALES">Documentales</option>
      </select>
      <mat-error *ngIf="form.get('clase').hasError('required')">
        <strong>Este campo es obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>estado</mat-label>
        <select matNativeControl formControlName="estado" required>
            <option value="ORDENACION">Ordenacion</option>
            <option value="CONSTITUCION">Constitucion</option>
            <option value="CLASIFICACION">Clacificacion</option>
            <option value="CANCELACION">Cancelacion</option>
            <option value="ACEPTADO">Aceptado</option>
          </select>
        <mat-error *ngIf="form.get('estado').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>secuestro_info</mat-label>
        <input formControlName='secuestro_info' matInput>
        <mat-error *ngIf="form.get('secuestro_info').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
      </mat-form-field>
    <br>
    <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
        <mat-icon>send</mat-icon>enviar
    </button>
    <a color="warn" routerLink="/dashboard/abogado/listar-personas"  mat-raised-button>
        <mat-icon>cancelar</mat-icon>cancelar
    </a>
  </form>
  
  
<!--http://localhost:4200/dashboard/proceso/actualizar-cautelar/agregar/7-->