
<mat-card>
        <mat-card-title>
            <mat-toolbar>
                <span class="titulo">Notificación</span>
            </mat-toolbar>
        </mat-card-title> 
    <mat-card-content>
        <table>
            <thead>
                <th>tipo</th>
                <th>mensaje</th>
                <th>expedicion</th>
                <th>limite</th>
            </thead>
            <tbody>
                <tr>
                    <td data-label="tipo">{{notificacion.tipo}}</td>
                    <td data-label="mensaje">{{notificacion.mensaje}}</td>
                    <td class="break" lang="es" data-label="expedicion">{{notificacion.expedicion}}</td>
                    <td data-label="notificacion">{{notificacion.limite}}</td>
                </tr>
            </tbody>

        </table>
                
    </mat-card-content>
</mat-card>
<div class="cards">  
    <app-personas-notificadas [notificados]="notificacion.personasNotificadas" [notificacion]="notificacion.id" (recargar)="obtenerActuacion()"></app-personas-notificadas>
    <app-empresas-notificadas [notificados]="notificacion.empresasNotificadas" [notificacion]="notificacion.id" (recargar)="obtenerActuacion()"></app-empresas-notificadas>
</div>
