<mat-card>
  <form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
    <div>
      <span class="titulo">Datos generales</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Documento</mat-label>
      <input formControlName='documento' matInput>
      <mat-error *ngIf="form.get('documento').hasError('required')">
        <strong>Este campo es obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="form.get('documento').hasError('pattern')">
        <strong>Solo numeros</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName='nombre' matInput>
        <mat-error *ngIf="form.get('nombre').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('nombre').hasError('pattern')">
          <strong>Solo letras</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Actividad</mat-label>
        <input formControlName='actividad' matInput>
        <mat-error *ngIf="form.get('actividad').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('actividad').hasError('pattern')">
          <strong>Solo letras</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <span class="titulo">Datos de contacto</span>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName='email' matInput>
        <mat-error *ngIf="form.get('email').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('pattern')">
          <strong>Eso no es un correo!</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input formControlName='celular' matInput>
        <mat-error *ngIf="form.get('celular').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('celular').hasError('pattern')">
          <strong>Solo letras</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Fijo</mat-label>
        <input formControlName='fijo' matInput>
        <mat-error *ngIf="form.get('fijo').hasError('pattern')">
          <strong>Solo numeros</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input formControlName='direccion' matInput>
        <mat-error *ngIf="form.get('direccion').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('direccion').hasError('pattern')">
          <strong>Nada de caracteres especiales</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <div>
        <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
          <mat-icon>send</mat-icon>enviar
        </button>
        <a color="warn" routerLink="/dashboard/abogado/listar-personas"  mat-raised-button>
          <mat-icon>cancelar</mat-icon>cancelar
        </a>
      </div>
  </form>
</mat-card>