.board-container{
    height: 90vh;
}
.board-sidenav{
    width: 15%;
}
.example-spacer {
    flex: 1 1 auto;
  }
@media screen and (min-width:700px) and  (max-width: 1000px) {
    .mat-sidenav{
        width: 30%;
    }
}
@media screen and (max-width:700px ) {
    .mat-sidenav{
        width: 40%;
    }
}