<mat-card>
    <form [formGroup]="form" (ngSubmit)="registrar()" novalidate> 
        <div>
            <span class="titulo">Agregar archivo</span>
          </div><br>
        <input type="file" formControlName='nombre_archivo'  id="input" (change)="procesarArchivo($event)">
        <label for="input" id="label"><a  color="primary" mat-raised-button><mat-icon>arrow_circle_up</mat-icon>elige un archivo</a></label>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input formControlName='descripcion' matInput>
        </mat-form-field><br>
        <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
            <mat-icon>send</mat-icon>enviar
        </button>
        <a color="warn" routerLink="/dashboard/abogado/listar-personas" (click)="volver()" mat-raised-button>
            <mat-icon>cancelar</mat-icon>cancelar
        </a>
    </form>
    
</mat-card>