{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/style/reset_style.css' %}">
    </head>
    <body>
        <div class="formulario">
            <h2>Ya se completo el reset de contraseña</h2>
            <hr>
            <p>Intenta ingresar ahora</p>                 
            <a href="/login/" class="btn btn-primary">Log in</a>
        </div>
    </body>
</html>