<html>
<body>
{% if validlink %}  
  
  <!--Password Reset Confirm-->
    <div class="formulario">
	    <h2 class="font-weight-bold mt-3">Restaurar contraseña</h2>
		<hr>
        <p>Ingresa la nueva contraseña</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}              
            <button class="btn btn-primary" type="submit">Restaurar contraseña</button>
        </form>
    </div>
{% else %}
    <h1>Este enlace no es valido</h1>
{% endif %}
</body>
</html>