{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/style/reset_style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #049cf4; color: white;">
            <h2>Restaurar Contraseña</h2>        
        </nav>
        <div class="formulario">
            <h3>
                Ingresa el correo electronico adjunto a tu cuenta, se enviara un link
                para que crees una contraseña nueva.
            </h3>
            
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                        <br>                            
                        <input type="submit" class="btn btn-primary" value="Enviar correo">
                    </div>
                </form>
  	    </div> 
    </body>
</html>