<mat-card>
  <form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
    <div>
      <span class="titulo">Datos generales</span>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>tipo</mat-label>
        <input formControlName='tipo' matInput>
        <mat-error *ngIf="form.get('tipo').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="form.get('tipo').hasError('pattern')">
          <strong>los caracteres especiales no estan permitidos</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>mensaje</mat-label>
      <textarea formControlName='mensaje' matInput></textarea>
      <mat-error *ngIf="form.get('mensaje').hasError('required')">
        <strong>Este campo es obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="form.get('mensaje').hasError('pattern')">
        <strong>los caracteres especiales no estan permitidos</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <input  matInput type="datetime-local"  formControlName='expedicion'>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <input matInput  formControlName='limite' [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngIf="form.get('limite').hasError('required')">
          <strong>Este campo es obligatorio</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
        <mat-icon>send</mat-icon>enviar
    </button>
    <a color="warn" (click)="volver()"  mat-raised-button>
        <mat-icon>cancelar</mat-icon>cancelar
    </a>
  </form>

</mat-card>