<mat-card>
  <mat-card-title >
    <mat-toolbar>
      <span class="titulo">Empresas</span>
    </mat-toolbar>
  </mat-card-title>
<table mat-table [dataSource]="empresa" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>
      <a routerLink="/dashboard/abogado/agregar-empresa/crear"  mat-icon-button color="accent">
        <mat-icon hr>add</mat-icon>
      </a>
    </th>
    <td mat-cell *matCellDef="let element">  
      <button  mat-icon-button color="warn" (click)="confirmDialog(element)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <a routerLink="/dashboard/abogado/mostrar-empresa/{{element.id}}" mat-icon-button color="accent">
        <mat-icon>business</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <mat-paginator  [length]="count"
                  [pageSize]="5"
  >
  </mat-paginator>

</mat-card>