<mat-card>
        <table style="margin: 0 auto;">
            <caption>Despacho</caption>
            <tbody>
                <tr>
                    <td >Departamento:</td>
                    <td class="rigth">{{despacho.departamento}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td >Ciudad:</td>
                    <td class="rigth">{{despacho.ciudad}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td >Corporación:</td>
                    <td class="rigth">{{despacho.corporacion}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td>Especialidad:</td>
                    <td>{{despacho.especialidad}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td>Despacho:</td>
                    <td >{{despacho.despacho}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td>Direccción:</td>
                    <td>{{despacho.direccion}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td >Telefono:</td>
                    <td>{{despacho.telefono}}</td>
                </tr>
                <mat-divider></mat-divider>
                <tr>
                    <td >Juez:</td>
                    <td>{{despacho.juez.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>