<mat-card>
<form [formGroup]="form" (ngSubmit)="registrar()" novalidate>
  <div>
    <span class="titulo">Datos generales</span>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Actuacion</mat-label>
    <input formControlName='actuacion' matInput>
    <mat-error *ngIf="form.get('actuacion').hasError('required')">
      <strong>Este campo es obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="form.get('actuacion').hasError('pattern')">
      <strong>los caracteres especiales no estan permitidos</strong>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Anotacion</mat-label>
      <input formControlName='anotacion' matInput>
      <mat-error *ngIf="form.get('anotacion').hasError('required')">
        <strong>Este campo es obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="form.get('anotacion').hasError('pattern')">
        <strong>los caracteres especiales no estan permitidos</strong>
      </mat-error>
    </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Inicio</mat-label>
    <input  matInput type="datetime-local"  formControlName='inicio'>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Terminación</mat-label>
    <input  matInput type="datetime-local"  formControlName='termino'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Registro</mat-label>
    <input  matInput type="datetime-local"  formControlName='registro'>
  </mat-form-field>
  <br>  
  <div>
    <button type="submit" color="primary" [disabled]="form.invalid"  mat-raised-button>
      <mat-icon>send</mat-icon>enviar
  </button>
  <a color="warn" (click)="volver()" mat-raised-button>
      <mat-icon>cancelar</mat-icon>cancelar
  </a>
  </div>
</form>
</mat-card>