    <mat-card>
      <mat-card-title >
        <mat-toolbar>
          <span class="titulo">{{persona.nombre}} {{persona.apellido}}</span>
        </mat-toolbar>
      </mat-card-title>
      <mat-card-subtitle>
        <button color="primary"  routerLink="/dashboard/abogado/actualizar-persona/actualizar/{{persona.id}}" mat-button>
        <mat-icon hr>create</mat-icon>Update</button>
      </mat-card-subtitle>
      <mat-card-content>
        <table mat-table [dataSource]="tabla" >     
  
          <ng-container matColumnDef="campo">
            <th mat-header-cell *matHeaderCellDef>   </th>
            <td mat-cell *matCellDef="let elemento">{{elemento.campo}} : </td>
          </ng-container>
  
          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let elemento">  {{elemento.valor}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
     </mat-card>