<!--<h1>Ingreso</h1>
<form action="">
    <input type="text"  name="username" [(ngModel)]="user.username">
    <input type="password" name="password" [(ngModel)]="user.password">
    <button type="submit" (click)="login()" >Login</button>
</form>-->


<!--<div class="login-div">
  
    <div class="image-div">
        <img [src]="'/assets/logo.svg'">
    </div>
    <form action="" class="formulario">
        
        <div class="fields">
            <div class="username"><input type="text"  class="user-input" name="username" placeholder="usuario" [(ngModel)]="user.username"></div>
            <div class="password">
            <input type="password" class="pass-input" name="password" placeholder="contraseña" [(ngModel)]="user.password"></div>
        </div>
        <button type="submit" class='signin-button' (click)="login()" >Login</button>
    </form>
</div>-->
<div class="main-div">

    
    <form [formGroup]="user" (ngSubmit)="login()" novalidate> 
        <div>
            <span class="titulo">Ingresar</span>
          </div><br>
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input formControlName='username' matInput>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName='password' type="password" matInput>
        </mat-form-field><br>
        <button type="submit" color="primary"   mat-raised-button>
            Ingresar
        </button>
    </form> <br><br>
    <a href="/accounts/password_reset">¿Olvidaste tu contraseña?</a>
    <br><br>

</div>